# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Models
models/*.pkl

# Local application state
results/prediction_history.jsonl

# Large datasets
dataset/raw/*.arff

# macOS
.DS_Store

# VS Code
.vscode/
